---
import Hero from '../components/Hero.svelte';
import Layout from '../layouts/Layout.astro';
import Quote from '../components/Quote.svelte';
import EventCard from '../components/EventCard.astro';
import { client } from '../../tina/__generated__/client';

const eventsResponse = await client.queries.eventConnection()
const events = eventsResponse.data.eventConnection.edges.map(event => {
  return event.node
});
console.log(events)
---

<Layout title="Almost Home Wyoming - Events">
	<main>
    <div class="relative pt-12 pb-16 px-auto sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto">
      <div class="lg:pl-8">
        <div class="text-base mx-auto lg:mr-0">
          {events.map(event => {
            return <EventCard event={event}></EventCard>
          })}
        </div>
      </div>
    </div>
  </main>
</Layout>


