---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.svelte';
import Hero from '../components/Hero.svelte'
import Cta from '../components/Cta.svelte';
import PrimaryBtn from '../components/global/PrimaryBtn.svelte';
import image from "../images/Almost-Home-1.jpeg";
import { client } from '../../tina/__generated__/client';

const postsResponse = await client.queries.postConnection()
const stories = postsResponse.data.postConnection.edges.map(post => {
  return post
});

---
<Layout>
  <div class="relative mx-auto">
    <Hero headline="Our stories" body="Read about our organization"></Hero>
    <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
      {stories.map((story, index) => (
        <Card story={story} key={index}></Card>
      ))}
    </div>
  </div>
</Layout>
