---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.svelte';
import Hero from '../components/Hero.svelte'
import Cta from '../components/Cta.svelte';
import PrimaryBtn from '../components/global/PrimaryBtn.svelte';
import image from "../images/Almost-Home-1.jpeg";

const storiesResponse = await fetch('https://admin.blueengineering.dev/api/stories?populate=*');
const stories = await storiesResponse.json();
console.log(stories)
---
<Layout>
  <div class="relative max-w-7xl mx-auto">
    <Hero title="Our stories"></Hero>
    <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
      {stories.data.map((story, index) => (
        <Card story={story.attributes} key={index}></Card>
      ))}
    </div>
  </div>
</Layout>
