---
export async function getStaticPaths() {
  const storiesResponse = await fetch('https://admin.blueengineering.dev/api/stories?populate=*');
  const stories = await storiesResponse.json();

  return stories.data.map(({attributes}) => {
  const { Slug, Title, Body } = attributes;
    return {
      params: { Slug },
      props: { Slug, Title, Body },
    };
  });
}
import Layout from '../../layouts/Layout.astro'

const { Slug, Title, Body } = Astro.props;
---
<Layout title={Title}>
    <h1>{Title}</h1>
    {Body}
</Layout>
